<%- include('head'); -%>
<main>
    <div class="jumbotron">
        <p class="lead">Access your Google Profile</p>
        <hr class="my-4">
        <p>Current Date: <%= date_tag %></p>
        <p><%= message_tag %></p>
        <a class="btn btn-primary" href="/login" role="button"><span class="fa fa-google"></span> Login</a>
    </div>
</main>
<%- include('foot'); -%>